<% provide(:title, 'Sign up') %>
<div class="container">
  <h1 class="well"><%= t('registration') %></h1>

  <div class="col-lg-12 well">
    <% if @user.errors.present? %>
      <%= render 'errors'%>
    <% end %>
    <div class="registration">
			<%= render 'form_for_users' %>
    </div>
	 </div>
</div>

