<% provide(:title, 'Profile Page') %>
<div class="container">
  <h1 class="well">Profile page <%= full_name %></h1>

<div class="row">
	<% if @user.image.present? %>
    <%= image_tag Dir.glob("#{Rails.root}/avatars/#{@user.image}")[0], class: "img-circular" %>
  <% end %>

  <div class="span6 offset3">
    <%= render 'form_for_update', user: @user  %>
  </div>
</div>
	</div>