<% provide(:title, 'My posts') %>
<div class="container">
  <h1 class="well"> <%= t('my_posts') %> </h1>
  <div>
    <h2> <%= t('create_post') %> </h2>
    <%= render 'form_for_post' %>
  </div>

  <div>
    <%= render 'table_posts', posts: current_user.posts %>
	</div>

</div>
